node_modules
.env
.env.*
/src/generated/prisma
npm-cache/
Backend/npm-cache/

# Logs & Cache
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.eslintcache

# OS
.DS_Store
.vscode
.idea